{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tickets/styles.css' %}">
    <title>{% block title %} Tickets {% endblock %}</title>
</head>
<body>
    <nav className="navbar2">
        <a href="{% url 'lista_metodos' %}">Metodos</a>
        <a href="{% url 'cine' %}">Cine</a>
        <a href="{% url 'crear_metodo_pago' %}">Crear método de pago</a>
    </nav>

    {% block body %}{% endblock %}
    
</body>
</html>