{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'tickets/styles.css' %}">

    <link rel="icon" href="{% static 'tickets/images/cine.png' %}" type="image/png">

    <title>{% block title %}Tickets{% endblock %}</title>
</head>

<body>

    <!-- NAVBAR -->
    {% if not hide_nav %}
    <nav class="navbar2">

        <!-- SIEMPRE visible -->
         <a href="/admin/">
            Admin 
        </a>
        <a href="{% url 'cine' %}">
            Cine
        </a>

        <!-- SOLO USUARIO LOGUEADO -->
        {% if user.is_authenticated %}

            <a href="{% url 'lista_metodos' %}">
                Métodos
            </a>

            <a href="{% url 'crear_metodo_pago' %}">
                Crear método de pago
            </a>
            <a href="{% url 'logout' %}">
                Cerrar sesión
            </a>

        {% else %}

            <a href="{% url 'login' %}">
                Login
            </a>

            <a href="{% url 'register' %}">
                Registro
            </a>

        {% endif %}

    </nav>
    {% endif %}

    <!-- CONTENIDO -->
    <main>
        {% block body %}
        {% endblock %}
    </main>

</body>
</html>