{% extends 'tickets/base.html' %}

{% block title %}Eliminar Método{% endblock %}

{% block body %}
<div class="cartelera">
    <div class="ticket-item"> 
        <h1 style="color:rgb(34, 33, 33)">¿Estás seguro?</h1>
    
        <p style="color: #242424;">Estás a punto de eliminar el método de pago: <p>{{ metodo.nombre }}.</p></p>
        <p style="color: red;">Esta acción no se puede deshacer.</p>

        <!-- Formulario de confirmación de borrado -->
        <form method="POST">
            {% csrf_token %}
            <button type="submit">Sí, estoy seguro. Eliminar</button>
            <a class="button" href="{% url 'lista_metodos' %}">Cancelar y volver a la lista</a>
        </form>
    </div>
    
</div>
    
{% endblock %}