{% extends 'tickets/base.html' %}

{% block title %}Método de Pago{% endblock %}

{% block body %}
    <h1>Registrar / Editar Método de Pago</h1>
    <div class="cartelera">
        <div class="ticket-item2"> 
           <form method="POST">
            {% csrf_token %}
            <p>
                {{ form.nombre.label_tag }}
                {{ form.nombre }}
            </p>

            <p>
                {{ form.tipo.label_tag }}
                {{ form.tipo }}
            </p>

            <div id="banco-container">
                <p>
                    {{ form.banco.label_tag }}
                    {{ form.banco }}
                </p>
            </div>

            <div id="tarjeta-container">
                <p>
                    {{ form.tarjeta.label_tag }}
                    {{ form.tarjeta }}
                </p>
            </div>

            <div id="qr-container">
                <p>
                    {{ form.qr.label_tag }}
                    {{ form.qr }}
                </p>
            </div>
                <button type="submit" style="padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">
                    Guardar Método
                </button>
            </form>
            <a class="button" style="background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;" href="{% url 'lista_metodos' %}">Volver</a> 
        </div> 
    </div>
    <br>

<script>
    document.addEventListener('DOMContentLoaded', function() {

    const tipo = document.getElementById('id_tipo');

    const banco = document.getElementById('banco-container');
    const tarjeta = document.getElementById('tarjeta-container');
    const qr = document.getElementById('qr-container');

    function actualizarFormulario() {

        banco.style.display = 'none';
        tarjeta.style.display = 'none';
        qr.style.display = 'none';

        if (tipo.value === 'BANCO') {
            banco.style.display = 'block';
            tarjeta.style.display = 'block';
        }

        if (tipo.value === 'QR') {
            qr.style.display = 'block';
        }
    }

    actualizarFormulario();
    tipo.addEventListener('change', actualizarFormulario);
});
</script>

{% endblock %}