{% extends 'tickets/base.html' %} {% block title%} Tickets Cine {% endblock %}
{% block body %}

<h1>Lista de metodos</h1>
{% for metodo in metodos %}
<div class="cartelera">
  <div class="ticket-item" id="metodo-{{ metodo.id }}">
    <h3 class="h3">{{ metodo.nombre }}</h3>
    <h3 class="h3">{{ metodo.tipo }}</h3>

    <a href="{% url 'editar_metodo' metodo.id %}">Editar</a>
    <a href="{% url 'borrar_metodo' metodo.id %}">Borrar</a>
  </div>
  {% empty %}
  <div class="ticket">
    <h3>No hay metodos disponibles</h3>
  </div>
</div>
{% endfor %}

{% endblock %}
