{% extends 'tickets/base.html' %}

{% block title %} Registro {% endblock %}

{% block body %}

<h1>Crear Cuenta</h1>
<h4>Registrate para acceder al cine</h4>

<div class="cartelera">

    <h3 class="h3">Registro</h3>

    <form method="POST">
        <div class="login-container">
            {% csrf_token %}
        </div>
        <div class="login-container">
            {{ form.as_p }}
        </div>

        <button type="submit">
            Registrarse
        </button>

    </form>

    <p class="pcartelera">
        ¿Ya tienes cuenta?
    </p>

    <a href="{% url 'login' %}">
        Iniciar sesión
    </a>

</div>

{% endblock %}